* { 
    box-sizing: border-box;
}

h1 {
    font-size: 44
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
}
.child {
    background-color: blueviolet;
    width: 40%;
    height: 40%;
}